<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login User</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--===============================================================================================-->
        <link
            rel="icon"
            type="image/png"
            href="./assets/login/images/icons/favicon.ico"
        />
        <!--===============================================================================================-->
        <link
            rel="stylesheet"
            type="text/css"
            href="./assets/login/vendor/bootstrap/css/bootstrap.min.css"
        />
        <!--===============================================================================================-->
        <link
            rel="stylesheet"
            type="text/css"
            href="./assets/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
        />
        <!--===============================================================================================-->
        <link
            rel="stylesheet"
            type="text/css"
            href="./assets/login/vendor/animate/animate.css"
        />
        <!--===============================================================================================-->
        <link
            rel="stylesheet"
            type="text/css"
            href="./assets/login/vendor/css-hamburgers/hamburgers.min.css"
        />
        <!--===============================================================================================-->
        <link
            rel="stylesheet"
            type="text/css"
            href="./assets/login/vendor/select2/select2.min.css"
        />
        <!--===============================================================================================-->
        <link rel="stylesheet" href="./assets/login/css/util.css" />
        <link rel="stylesheet" href="./assets/login/css/main.css" />
        <!--===============================================================================================-->
        <link
            href="http://fonts.googleapis.com/css?family=Roboto:400,300,500,700"
            rel="stylesheet"
            type="text/css"
        />
        <link rel="stylesheet" href="assets/css/bootstrap.css" />
        <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
        <link rel="stylesheet" href="assets/css/main.css" />
        <!-- Slider Pro Css -->
        <link rel="stylesheet" href="assets/css/sliderPro.css" />
        <!-- Owl Carousel Css -->
        <link rel="stylesheet" href="assets/css/owl-carousel.css" />
        <!-- Flat Icons Css -->
        <link rel="stylesheet" href="assets/css/flaticon.css" />
        <!-- Animated Css -->
        <link rel="stylesheet" href="assets/css/animated.css" />
        <style>
            .wrap-login100 {
                margin-top: 70px;
            }
            @media only screen and (min-widht: 300px) and (max-width: 600px) {
                .wrap-login100 {
                    margin-top: 70px;
                }
            }
        </style>
    </head>
    <body>
        <header class="site-header wow fadeIn" data-wow-duration="1s">
            <div id="main-header" class="main-header">
                <div class="container clearfix">
                    <div class="logo">
                        <a href="index.html"></a>
                    </div>
                    <div id="cssmenu">
                        <ul>
                            <li><a href="index.html">Homepage</a></li>
                            <li class="active">
                                <a href="#">Car Listing</a>
                                <ul>
                                    <li>
                                        <a href="#">Sidebar</a>
                                        <ul>
                                            <li>
                                                <a
                                                    href="car_listing_sidebar.html"
                                                    >Car Listing</a
                                                >
                                            </li>
                                            <li>
                                                <a href="car_grid_sidebar.html"
                                                    >Car Grid</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">No Sidebar</a>
                                        <ul>
                                            <li>
                                                <a
                                                    href="car_listing_no_sidebar.html"
                                                    >Car Listing</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    href="car_grid_no_sidebar.html"
                                                    >Car Grid</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="single_car.html">Single Car</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="about_us.html">About Us</a></li>
                            <li><a href="contact_us.html">Contact Us</a></li>
                            <li>
                                <a href="login.html"><strong>Login</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="login100-pic js-tilt" data-tilt>
                        <img src="./assets/login/images/img-01.png" alt="IMG" />
                    </div>

                    <form class="login100-form validate-form">
                        <span class="login100-form-title"> Member Login </span>

                        <div
                            class="wrap-input100 validate-input"
                            data-validate="Valid email is required: ex@abc.xyz"
                        >
                            <input
                                class="input100"
                                type="text"
                                name="email"
                                placeholder="Email"
                            />
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i
                                    class="fa fa-envelope"
                                    aria-hidden="true"
                                ></i>
                            </span>
                        </div>

                        <div
                            class="wrap-input100 validate-input"
                            data-validate="Password is required"
                        >
                            <input
                                class="input100"
                                type="password"
                                name="pass"
                                placeholder="Password"
                            />
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">Login</button>
                        </div>

                        <div class="text-center p-t-12">
                            <span class="txt1"> Forgot </span>
                            <a class="txt2" href="#"> Username / Password? </a>
                        </div>

                        <div class="text-center p-t-136">
                            <a class="txt2" href="#">
                                Create your Account
                                <i
                                    class="fa fa-long-arrow-right m-l-5"
                                    aria-hidden="true"
                                ></i>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--===============================================================================================-->
        <script src="login/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="login/vendor/bootstrap/js/popper.js"></script>
        <script src="login/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="login/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="login/vendor/tilt/tilt.jquery.min.js"></script>
        <script>
            $(".js-tilt").tilt({
                scale: 1.1,
            });
        </script>
        <!--===============================================================================================-->
        <script src="login/js/main.js"></script>

        <script src="assets/js/jquery-1.11.0.min.js"></script>

        <!-- Slider Pro Js -->
        <script src="assets/js/sliderpro.min.js"></script>

        <!-- Slick Slider Js -->
        <script src="assets/js/slick.js"></script>

        <!-- Owl Carousel Js -->
        <script src="assets/js/owl.carousel.min.js"></script>

        <!-- Boostrap Js -->
        <script src="assets/js/bootstrap.min.js"></script>

        <!-- Boostrap Js -->
        <script src="assets/js/wow.animation.js"></script>

        <!-- Custom Js -->
        <script src="assets/js/custom.js"></script>
    </body>
</html>
